body{
	margin: 0;
	padding:0;
	background: #000;
}
.card{
	width:30rem;
	height: 25rem;
	background-color: #2b68c9;
	text-align: center;
	border-radius: 1.5em;
	position: relative;
	margin: 5em 0 0 25em ;
	
}
.profile{
	width:10em;
	height: 10em;
	border-radius: 2.5em;
	margin-top: 1.35em;
}
.profile_proffession{

	margin-top: 1.35em;
	cursor: default;
	line-height: 1;
	transition:all 0.5s;
	transition-dealy:0.5s;
	
}

.icons{
	width:5em;
	height:5em;
}

.skill{
	position: absolute;
	background-color: #fff;
	top:50%;
	overflow: hidden;
	border-radius: 1.6em;
	width: 100%;
	height: 0;
	transition:all 0.5s ease;
    transition-delay: 0.5s;
}

.card:hover .skill{
	height: 50%;
}

.card:hover .profile_proffession{
	opacity: 0;
	transition-delay:0s;
}